<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <!-- Подключение Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<header th:insert="blocks/header"></header>
<div class="container" style="margin-left: 200px">
    <h1 class="mt-4">Админ панель</h1>
    <div class="mt-4">
        <a class="btn" th:href="@{/admin/category}">Добавить категорию</a><br>
        <a class="btn" th:href="@{/admin/type-of-category}">Добавить тип</a><br>
        <a class="btn" th:href="@{/admin/image-for-work}">Добавить изображение для работы</a><br>
    </div>
</div>

<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>