<div class="footer content-container" th:fragment="footer">
    <ul class="footer__list-wrapper">
        <li>
            <div class="footer__info-wrapper">
                <div class="footer__img-wrapper">
                    <img th:src="@{/img/pointer.png}" alt="Указатель">
                </div>
                <p class="footer__info footer__info--adress">
                    Главный оффис: г.Гродно ул. Лиможа 18 оф.189
                </p>
            </div>
        </li>
        <li>
            <div class="footer__info-wrapper">
                <div class="footer__img-wrapper">
                    <img th:src="@{/img/phone.png}" alt="Телефон">
                </div>
                <div>
                    <p class="footer__info">
                        +375 33 464 81 36
                    </p>
                    <p class="footer__info">
                        +375 44 467 83 41
                    </p>
                </div>
            </div>
            <div class="footer__info-wrapper">
                <div class="footer__img-wrapper">
                    <img th:src="@{/img/mail.png}" alt="Почта">
                </div>
                <p class="footer__info footer__info--mail">asyakudryavtseva17@gmail.com</p>
            </div>
        </li>
        <li>
            <div class="footer__info-wrapper">
                <div class="footer__img-wrapper">
                    <img th:src="@{/img/instagram.png}" alt="Instagram">
                </div>
                <div class="footer__img-wrapper footer__img-wrapper--margin-left">
                    <img th:src="@{/img/telegram.png}" alt="Telegram">
                </div>
            </div>
        </li>
    </ul>
</div>